<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trang chủ</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <link rel="stylesheet" href="../CSS/stylechung.css">
  <link rel="stylesheet" href="../SCSS/SCSS_1/main.css">
</head>

<body>
  <header id="header container-fluid">
    <div class="row">
      <img class="logo" src="" alt="">
    </div>
    <div class="row">
      <div class="navFull">
        <div class="container">
          <nav class="navBar row">
            <a href="#">Trang chủ</a>
            <a href="#">Giới thiệu</a>
            <a href="#">Khóa học</a>
            <a href="#">Chia sẻ kiến thức</a>
            <a href="#">Việc làm</a>
            <a href="#">Liên hệ</a>
            <div class="language">
              <img class="icon" src="../image/translation-translate-language-international-translating_2_copy_7-512.png"
                alt="">
              <p>Tiếng Việt</p>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <div class="row">
      <img class="banner" src="../image/de7c233a-8abb-11e6-b978-04011537df01.jpg" alt="">
    </div>
  </header>

  <div class="dropdown">
    <div>
      <p>Tiếng Việt</p>
      <p>Tiếng Anh</p>
      <p>Tiếng Nhật</p>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>